*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.section__tittle {
  padding: 0.5em;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

/*---------- Navigation --------*/
.burger-btn {
  position: fixed;
  top: 55px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #ffffff;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.burget-nav__box {
  position: absolute;
  top: 48px;
  height: 560px;
  width: 100vw;
  background-color: #b19e8d;
  z-index: 100;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.burget-nav__box--link {
  text-align: center;
  width: 100vw;
  height: 60px;
  padding: 1em;
  text-decoration: none;
  color: #ffffff;
  font-size: 2.5em;
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s both;
}

.active {
  opacity: 1;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav .navbar {
  position: absolute;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: -1;
  width: 100vw;
  height: 50px;
  font-size: 1em;
  background-color: #b19e8d;
}
.nav .navbar__link {
  display: none;
}
.nav .title-box {
  position: relative;
  height: 60px;
  width: 100vw;
  background-color: rgb(15, 15, 15);
  box-shadow: 0 0 10px rgb(15, 15, 15);
}
.nav .title-box__logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.nav .title-box__logo img {
  height: 80px;
  width: 80px;
  box-shadow: 0 0 10px rgb(15, 15, 15);
}
.nav .title-box__text {
  position: absolute;
  top: 20px;
  left: 110px;
  font-family: "Gruppo", sans-serif;
  color: #ffffff;
  font-size: 1.5em;
}

/*---------- Header --------*/
.header__wrapper {
  position: relative;
  height: 92vh;
  width: 100vw;
  background-image: url("../img/hero.JPG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 1em;
  text-align: center;
  z-index: 5;
}
.header__heading {
  font-size: 2em;
  font-family: "Gruppo", sans-serif;
  color: #ffffff;
}
.header__sentence {
  font-size: 1em;
  color: #ffffff;
}

/*---------- aboutus --------*/
.offers {
  position: relative;
  overflow: hidden;
}
.offers__option {
  margin: 1em 0;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.1803921569);
  background-color: #b19e8d;
  overflow: hidden;
}
.offers__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.offers__option-img:hover {
  transform: scale(1.1);
}
.offers__option-info {
  padding: 2em;
  background-color: #b19e8d;
  z-index: 10;
}
.offers__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}
.offers__option-text {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  color: #ffffff;
}

/*---------- footer --------*/
footer {
  text-align: center;
  height: 50px;
  width: 100vw;
  background-color: #b19e8d;
}
footer .footer__bottom-text {
  color: #ffffff;
  padding-top: 15px;
}

@media (min-width: 576px) {
  .burger-btn {
    display: none;
  }
  .burget-nav__box {
    display: none;
  }
  .nav .navbar__link {
    display: block;
    padding: 0 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    color: #ffffff;
    transition: 0.3s;
  }
  .nav .navbar__link:hover {
    color: #d8d6d6;
    scale: 1.2;
  }
  .offers__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offers__option-img {
    width: 50%;
    height: auto;
  }
  .offers__option-img--right {
    order: 1;
  }
  .offers__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .offers__option-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
  .offers__option-btn {
    padding: 1em;
  }
}/*# sourceMappingURL=main.css.map */